* {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: #f1f1f1;
  padding: 20px;
}

.container__header {
  background: black;
  padding: 20px;
}
.header__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.container__main {
  margin-top: 4rem;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  background: purple;
}

.section__input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.input__label {
  /* Agregado para centrar verticalmente */
  display: flex;
  justify-content: flex-start;
  align-items: last baseline;
  width: 100%;
  min-height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 1rem;
}

.input__field {
  width: 100%;
  min-height: 30px;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: 0.15em solid black;
  border-radius: 0.5em;
  outline: none;
  margin-left: auto;
  margin-right: 1rem;
}
.input__field:focus {
  border: 0.15em solid purple;
}

.resultado {
  width: 100%;
  min-height: 30px;
  font-size: 3.5rem;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: 1rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media (max-width: 720px) {
  /* Aquí puedes agregar los estilos que deseas aplicar cuando la pantalla sea inferior a 720px */
  .header__title {
    font-size: 2rem;
  }

  .main__container {
    width: 100%;
  }

  .section__input-group,
  .results,
  .btn-group {
    flex-direction: column;
    align-items: center;
  }

  .input__label,
  .input__field,
  .bn54 {
    width: 70%;
    margin: 1rem 0;
  }
}
